.form{

    background:#e6e6e6;
    border-radius:8px;
    margin-left:1rem;
    box-shadow:0 0 40px -10px #000;
    padding:50px 40px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
}

.boton-comprar{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;color:#5a5a6e;
    cursor:pointer;
    transition:all .3s;
}

.boton-comprar:hover{
    background:#78788c;
    color:#fff
}