nav{
  background-color: rgb(169, 95, 238);
  margin: 0px;
}

nav ul {
    display: flex;
    justify-content: center;

}
  
nav ul li:last-child {
  border-right: none;
}
nav ul li a{
  text-decoration: none;
} 

nav ul li h1{
  display: inline;
  color: rgb(10, 0, 156);
  font-style: bold;
  font-size: 2rem;
} 


.menu-vertical {
  width: 150px;
  height: 4.5rem;
  overflow-y:scroll;
}

